@font-face {
    font-family: 'hackgenR';
    src: url(./fonts/HackNerdFontMono-Regular.ttf); 
}

@font-face {
    font-family: 'hackgenB';
    src: url(./fonts/Makinas-4-Flat.otf);
}

body {
    background-color: #fcf4e4;
    /* color: #839496; */
    /* font-family: monospace; */
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'hackgenR';
    transition: all 0.5s;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.neofetch {
    /* border-style: solid; */
    /* border-color: #acc2c2; */
    /* border-width: 5px; */
    background-color: #fdf6e3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 10em);
    overflow-y: scroll;
    width: calc(min(100vw - 10em, 60em));
}

#profile {
    font-family: 'hackgenR';
    margin-top: 5px;
    font-size: .65em;
}

#name_ {
    font-family: 'hackgenB';
    margin-left: 5px;
    font-size: 1.2em;
    letter-spacing: .38em;
}

#HN {
    font-family: 'hackgenB';
    margin-left: 5px;
    font-size: 1.2em;
}

#name {
    font-family: 'hackgenB';
    font-size: 3.2em;
}

.box {
    margin-left: 50px;
}

.container {
    display: flex;
    align-items: flex-start;
    color: #55717b;
}

div.neofetch span {
    line-height: 150%;
}

.info-title {
    color: #b58900;
}

.info-value {
    color: #657b83;
}

.ml {
    margin-left: 0px;
    /* margin-left: 40px; */
}

.mml {
    margin-left: 0px;
    /* margin-left: 80px; */
}

div.neofetch span {
    white-space: pre;
}

a {
    text-decoration: none;
}

.info-value a {
    color: #657b83;
}

p {
    margin-top: 0;
}

@media (max-width: 1000px) {
    body {
        font-size: 1.2em;
    }
    
    #profile {
        font-size: .6em;
        margin-bottom: 5px;
    }

    .logo img {
        width: 230px;
        height: 230px;
    }
    
    .box {
        margin-left: 20px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 1em;
    }
    
    #profile {
        font-size: .1em;
        margin-bottom: 10px;
    }
    
    #name_ {
        font-size: 1em;
    }
    
    #name {
        font-size: 2.5em;
    }

    .logo img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: .8em;
    }
    
    #profile {
        font-size: 7px;
        margin-bottom: 5px;
    }
    
    #name_ {
        font-size: 1em;
    }
    
    #name {
        font-size: 2.9em;
    }

    .logo img {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 500px) {
    .neofetch {
        padding: 10px;
        width: calc(min(100vw - 5em, 60em));
        height: 90vh;
    }

    body {
        font-size: .7em;
    }
    
    #profile {
        font-size: 5px;
        margin-bottom: 3px;
    }
    
    #name_ {
        font-size: .9em;
    }
    
    #name {
        font-size: 2.4em;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .box {
        margin-left: 10px;
    }
}

@media (max-width: 350px) {
    body {
        font-size: .6em;
    }
    
    #profile {
        font-size: 3.6px;
        margin-bottom: 1px;
    }
    
    #name_ {
        font-size: .3em;
        margin-left: 2px;
        letter-spacing: 1.5px;
    }
    
    #HN {
        font-size: .3em;
        margin-left: 2px;
        letter-spacing: 1.5px;
    }
    
    #name {
        font-size: 2em;
    }

    .logo img {
        width: 80px;
        height: 80px;
    }

    .box {
        margin-left: 5px;
    }
}
